apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: plant-disease-mlops
  labels:
    app: plant-disease-api
spec:
  type: NodePort
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30080
    protocol: TCP
    name: http
  selector:
    app: plant-disease-api

