apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: models-pvc
  namespace: plant-disease-mlops
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard  # Ajuster selon votre cluster
